node_modules/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/
coverage/
.DS_Store
*.local
*.log
.idea/
.vscode/
*.sqlite
*.sqlite3
*.bak
*.tmp
*.swp
*.swo
*.pid
*.seed
*.tgz
package-lock.json